*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header img{
    width: 100%;
    height: 5rem;
    transform: translateX(380px);
    border-radius: 50px;
}

header p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #c7c7c7;
    height: 2rem;
    letter-spacing: 1px;
}

/* menu principal */
.menu_principal{
    display: flex;
    flex: 1;
    gap: 20px;
}

.menu_principal>aside{
    display: flex;
    flex-direction: column;
    border-right: 5px solid #c7c7c7;
    width: 30vh;
    height: 90%;
    margin-top: 30px;
    gap: 50px;
}

.menu_principal>aside>article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.menu_principal>aside>article>img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.menu_principal>aside p{
    padding-left: 30px;
}

/* main secundario*/

.menu_principal>main{
    display: flex;
    flex: 1;
}

/* nav */

.menu_principal>main>nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vh;
}

.menu_principal>main nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu_principal>main nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #c7c7c7;
    height: 2rem;
}

.menu_principal>main nav ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.menu_principal>main nav ul li a:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    height: 2rem;
}


.menu_principal>main>.semanas{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.menu_principal>main>.semanas>div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    justify-content: center;
}

.menu_principal>main>.semanas>section{
    display: flex;
    align-items: center;
    height: 10rem;
}

.menu_principal>main>.semanas>section>header{
    height: 2rem;
    width: 15vh;
}

.menu_principal>main>.semanas>section>.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.menu_principal>main>.semanas>section>.contenedor>section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_principal>main>.semanas>section>.contenedor>section>article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 20vh;
    border-radius: 20px;
    background-color: rgba(56, 111, 228, 0.658);
}

button{
    height: 2rem;
    width: 10vh;
    border-radius: 20px;
    background-color: #c7c7c7;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: #000;
}







